div {
    width: 80px;
    height: 80px;
    background-color: greenyellow;
}

.translate {
    background-color: aquamarine;
    color: white;
    border-radius: 5px;
    transform: translate(20px, 50px);
}

.g {
    width: 400px;
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}